<div ng-controller="ShellCtrl" class="main-shell">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-accent">

      <div ng-if="isLoggedIn()" layout="column" layout-padding class="profile-container">
        <div flex></div>
        <div layout-padding layout="column">
          <div class="profile-name">{{ getCurrentUser().name }}</div>
          <div class="profile-email">{{ getCurrentUser().email }}</div>
        </div>
      </div>

    </md-toolbar>

      <md-list-item ng-repeat="item in menu" ng-hide="item.loginRequired && !isLoggedIn()" ng-click="goto(item.url)">
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
          <div>{{item.title}}</div>
          <div class="count">{{item.count}}</div>
        </md-item-content>
        <md-divider></md-divider>
      </md-list-item>

      <md-list-item ng-if="isLoggedIn()" ng-click="goto('/profile')">
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
          <div>Profile</div>
        </md-item-content>
      </md-item>

    </md-content>
  </md-sidenav>
  <md-toolbar style="position: fixed">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span>{{pageTitle}}</span>
      </h2>
      <span flex=""></span>

      <md-button ng-if="isLoggedIn()" aria-label="Add A Book" class="md-icon-button" ng-click="showAddDialog($event)">
        <md-icon md-svg-icon="content:add" md-menu-align-target></md-icon>
      </md-button>

      <md-menu>

        <md-button aria-label="Open interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin md-svg-icon="assets/icons/dots-vertical.svg"></md-icon>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item ng-hide="isLoggedIn()" ui-sref="login">
            <md-button>
              <md-icon md-svg-icon="action:input"></md-icon>
              Login
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="isLoggedIn()" ui-sref="signup">
            <md-button>
              <md-icon md-svg-icon="action:launch"></md-icon>
              Signup
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="isLoggedIn()">
            <md-button ng-click="logout()">
              <md-icon md-svg-icon="action:exit_to_app"></md-icon>
              Logout
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
