<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <h2 class="md-title">
      Share a book with the community!
    </h2>
    <form name="bookForm">
      <md-input-container>
        <label>Title</label>
        <input md-maxlength="128" required name="name" ng-model="name">
        <div ng-messages="bookForm.title.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Author</label>
        <input md-maxlength="128" required name="author" ng-model="author">
        <div ng-messages="bookForm.author.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Cover Url</label>
        <input type="url" required name="coverUrl" ng-model="coverUrl">
        <div ng-messages="bookForm.coverUrl.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="url">This should be a URL</div>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="closeDialog()" class="md-primary">
      Cancel
    </md-button>
    <md-button ng-click="addBook()" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>
