<div ng-include="'components/shell/shell.html'"></div>

<md-content>

  <md-input-container class="search-bar">
    <label>Search</label>
    <input ng-model="bookSearch">
  </md-input-container>

  <md-list>
    <md-list-item class="md-2-line" ng-repeat="book in allBooks | filter:bookSearch | orderBy:'-dateAdded'">
      <img ng-src="{{book.coverUrl}}" class="book-cover" alt="{{book.name}}" />
      <div class="md-list-item-text" layout="column">
        <h3>{{ book.name }}</h3>
        <h4>{{ book.author }}</h4>
      </div>
      <md-button class="md-raised md-primary" ng-click="requestBook(book)">Request</md-button>
      <md-button class="md-raised" ng-click="returnBook(book)">Return</md-button>
      <md-button class="md-raised" ng-click="approveRequest(book)">Approve Request</md-button>
      <md-button class="md-raised" ng-click="denyRequest(book)">Deny Request</md-button>
      <md-button class="md-raised md-warn" ng-click="deleteBook(book)">Remove From Your Library</md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>

</md-content>
