<div ng-include="'components/shell/shell.html'"></div>

<md-content>

  <md-input-container class="search-bar">
    <label>Search</label>
    <input ng-model="bookSearch">
  </md-input-container>
  <md-list>
    <div  ng-repeat="book in allBooks | filter:bookSearch | orderBy:'-dateAdded'">
      <md-list-item class="md-2-line">
        <img ng-src="{{book.coverUrl}}" class="book-cover" alt="{{book.name}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ book.name }}</h3>
          <h4>{{ book.author }}</h4>
          <span ng-if="book.requested">requested</span>
          <span ng-if="book.onLoan">onLoan</span>
          <span ng-if="book.owner._id === user._id">mine</span>
        </div>
        <div ng-if="isLoggedIn()">
          <md-button class="md-raised md-primary" ng-if="canRequest(book)" ng-click="request(book)">Request</md-button>
          <md-button class="md-raised" ng-if="canCancelRequest(book)" ng-click="cancelRequest(book)">Cancel Request</md-button>
          <md-button class="md-raised" ng-if="canReturn(book)" ng-click="return(book)">Return</md-button>
          <md-button class="md-raised md-accent" ng-if="canApproveOrDeny(book)" ng-click="approveRequest(book)">Approve Request</md-button>
          <md-button class="md-raised md-accent" ng-if="canApproveOrDeny(book)" ng-click="denyRequest(book)">Deny Request</md-button>
          <md-button class="md-raised md-warn" ng-if="canDelete(book)" ng-click="delete(book)">Remove</md-button>
        </div>
      </md-list-item>
      <md-divider ng-if="!$last"></md-divider>
    </div>
  </md-list>

</md-content>
